@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
  }

h2 {
    padding-left: 10%;
}

.calc h2{
    color: red;
}

label {
    padding-left: 5%;
}

#canvas{
    display: flex;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.group{
    margin: 2%;
    width: 50vh;
    height: 35vh;
    background-color: lightblue;
    border-radius: 2%;
}