body {
    margin: 0 auto;
}

/* LOGO */
img {
    height: 20vh;
    width: 20vh;
    margin-right: 20px;
}

/* NAVBAR */
.navbar-nav>li a {
    text-transform: uppercase;
    color: #f2f2ed;
    font-size: 1em;
}

.navbar {
    height: 3rem;

}

.logo {
    height: 5em;
    width: 5em;
}


/* HEADER TEXT EDIT */

.headtxt {
    font-size: 4em;
}
.headtxt2 {
    font-size: 4em;
}

/* HEADER BACKGROUND */

.masthead-content{
  position: relative;
  overflow: hidden;
  padding-top: 5em;
  padding-bottom: 5em;
  background-repeat: contain;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

/* Products */
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5em;
}


